{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["dist/", "node_modules/", "jest.config.js", "templates/"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
